*.iml
.gradle
/local.properties
/.idea/
.DS_Store
build/
captures/
.externalNativeBuild
out/
docs/api/
docs/tryit/
docs/changelog.md
docs/index.md
site/
docs/js/gradient.js
docs/js/converter.js
kotlin-js-store/
